
 
/*team*/
#project-slider .owl-next,
#project-slider .owl-prev{
    background-color: rgba(255, 255, 255, 0.521) !important;
}


#project-slider .project img{
    width: 220px;
}

#team .container{
height: 60vh;
margin-top: 30px;
}

#team h1{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    color: #092032;
    margin-top: 30px;
}

#team .row p{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #092032;
    margin-left: 300px;
}

#team .project p{
    color: #092032;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;    
}

.team-member{
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-member .img-wrapper{
    position: relative;
    overflow: hidden;
}

.team-member .overlay{
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(110, 8, 138, 0.516);
    transition: all 0.4s ease;
    opacity: 0;
}

.team-member .social-links{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.team-member:hover .overlay{
    opacity: 1;
    top: 0;
}

.team-member:hover .social-links{
    opacity: 1;
    top: 50%;
}

.intro{
    margin-bottom: 40px;
}

.intro h1{
    font-weight: 400;
    color: #2f0559;
}

.intro p{
    max-width: 500px;
}

.project .overlay{
    background-color: linear-gradient(to top, #092032, #092032);
    position:relative;
    width: 100%;
    margin-bottom: 50px;
}

.project .content{
    position:absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 32px;
}

.project h1{
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.project h1:before{
    content: '';
    height: 2px;
    width: 24px;
    background-color: #af1893;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;

}